<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="copyright">
        &copy;2024 por Agile Tech Talk. Orgulhosamente criado com Angular.
      </div>
      <div class="social-links">
        <!-- Ícones de redes sociais podem ser adicionados aqui -->
        <a href="#" aria-label="Facebook" title="Facebook">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="#" aria-label="Instagram" title="Instagram">
          <i class="fa fa-instagram"></i>
        </a>
        <a href="#" aria-label="Twitter" title="Twitter">
          <i class="fa fa-twitter"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
