.admin-container {
  padding: 60px 15px;

  form {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    margin-bottom: 30px;

    input {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  }
}
