<app-header></app-header>

<div class="hero-section">
  <div class="container">
    <div class="hero-content">
      <h1>Tecnologia de um jeito Fácil</h1>
      <h1>Go Tech Talk</h1>
      <h2>Domine o novo de forma simples</h2>
      <p>Tech Talk está on line para oferecer diversos serviços e soluções em transição digital, ou domínio da tecnologia, para o publico "Silver".</p>
      <a href="mailto:daniel@gotechtalk.com.br" class="cta-button">Entre em contato</a>
    </div>
  </div>
</div>

<section class="about-section">
  <div class="container">
    <h2 class="section-title">Nosso propósito</h2>
    <h3 class="section-subtitle">Conectar a Melhor Idade</h3>
    <div class="about-content">
      <p>Nosso site é dedicado a empoderar pessoas da melhor idade, oferecendo um espaço seguro e amigável para aprender e explorar o mundo digital. Com aulas práticas e interativas, explicações claras e materiais visuais, ajudamos você a dominar tecnologias como o WhatsApp e muito mais, de forma simples e divertida.</p>
      <p>Além disso, oferecemos soluções práticas para o dia a dia, desde dicas de segurança online até guias para facilitar o acesso a serviços essenciais. Valorizamos o aprendizado colaborativo e acreditamos que nunca é tarde para aprender e se conectar.</p>
      <blockquote>"Na Melhor Idade, a inovação encontra a experiência: juntos, com paciência e segurança, vamos desbravar o mundo digital, encorajando o aprendizado e criando conexões que inspiram e transformam."</blockquote>
      <h3 class="section-subtitle">Prof. Daniel Steinbruch</h3>
    </div>
  </div>
</section>

<section class="whatsapp-section">
  <div class="container">
    <h2 class="section-title">Consulta grátis por whatsapp</h2>
    <div class="whatsapp-content">
      <h3>Conecta Melhor Idade: Seu Portal para o Mundo Digital</h3>
      <p>Explore a inovação com a experiência! No Conecta Melhor Idade, oferecemos um aprendizado digital acessível e acolhedor para pessoas entre 55 e 75 anos. Nossa abordagem amigável e paciente garante que você se sinta seguro e confiante, enquanto desbrava novas tecnologias.</p>
      <p>Com um ambiente seguro e suporte contínuo, ajudamos você a conectar-se com o que realmente importa. Ganhe habilidades digitais, amplie suas conexões sociais e aproveite uma vida mais conectada e gratificante. Descubra como a tecnologia pode transformar sua vida. Venha para o Conecta Melhor Idade e comece sua jornada hoje!</p>
    </div>
  </div>
</section>

<app-footer></app-footer>
